* {
    margin: 0;
    padding: 0;
}
.header-container {
    background-color: aqua
}

nav {
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    display: flex;
    column-gap: 2%;
    align-items: center;
    
    a {
        text-decoration: none;

        // display: inline-block;
    }
}